<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<style>
		body { 
			margin:5%; 
			margin-right:20%; 
			font-family:sans-serif; 
		}
		.current-cards { 
			position:absolute; 
		}
		.create-new { 
			float:right; 
		}
		.edit-card { 
			display:none; 
			background-color:#D3D3D3; 
			width:112%; 
			margin-left:5%; 
			border-radius:1%;
		}
		#edit-form { 
			padding-left:5%;
			padding-bottom:5%;
		}
		h4 {
			color:#6f969b;
			padding-left:5%;
			padding-top:5%;
		}
		a {
			color:#5790a8;
		}
		a:hover {
			color:#a2645d;
		}
		.notice { 
			color: green; 
		}
		.error { 
			color: red; 
		}
	</style>
</head>
<body>
	<h1>Flash Card App</h1>
	<h3>Ready to Study? Choose a study mode:</h3>
	<ul>
		<li><a href="/random">Random</a></li>
		<li><a href="/easy">Easy</a></li>
		<li><a href="/hard">Hard</a></li>
	</ul>
	<% if flash[:notice] %>
    	<p class="notice"><%= flash[:notice] %>
	<% end %>
	<% if flash[:error] %>
    	<p class="error"><%= flash[:error] %>
	<% end %>
	<div class="create-new">
		<h3>Create a New Flash Card</h3>
		<form action="/addflashcard" method="POST">
			<input type="text" name="flashcard[word]" placeholder="Word" required><br>
			<input type="text" name="flashcard[difficulty]" placeholder="Difficulty (1-10)" required><br>
			<textarea name="flashcard[definition]" cols="20" rows="5" placeholder="Definition" required></textarea><br>
			<input type="submit" value="Save">
		</form>
	</div>
	<div class="current-cards">
		<h3>Current Flash Cards</h3>
		<button class='edit-button'>Edit Flash Cards</button>
		<ul>
	  		<% for @flashcard in @flashcards %>
	    		<li>
	    			<%= '<strong>Word:</strong> ' + @flashcard.word + '<br><strong>Difficulty:</strong> ' + @flashcard.difficulty.to_s + '<br><strong> Definition:</strong> ' + @flashcard.definition %><br>
	    			<form action="/deleteflashcard/<%= @flashcard.id %>" method="POST">
	    				<input type="hidden" name="_method" value="DELETE">
	    				<input type="submit" value="Delete" title="Delete">
	    			</form>
	    			<div class="edit-card">
						<h4>Edit <%= @flashcard.word %></h4>
						<form action="/editflashcard/<%= @flashcard.id %>" method="POST" id="edit-form">
							<input type="hidden" name="_method" value="PUT">
							<input type="text" name="word" value=<%= @flashcard.word %> required><br>
							<input type="text" name="difficulty" value=<%= @flashcard.difficulty %> required><br>
							<textarea name="definition" cols="20" rows="5" required><%= @flashcard.definition %></textarea><br>
							<input type="submit" value="Save">
						</form>
					</div>
				</li><br>
	  		<% end %>
		</ul>
	</div>
	<script>
		$(".edit-button").click(function() {
			$(".edit-card").toggle();
		})
	</script>
</body>
</html>