$("#show-def").click(function() {
	$(".definition").toggle();
})
$("#next").click(function(e){
	e.preventDefault();
	$.get("/nextrandom", function(result) {
		$("#word").html("Word: " + result.word);
		$("#difficulty").html("Difficulty: " + result.difficulty);
		$("#def").html("Definition: " + result.definition);
		if ($(".definition").css('display') !== 'none') {
			$(".definition").toggle();
		}

	})
})

