<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<style>
		body {
			margin:5%; 
			margin-right:20%; 
			font-family:sans-serif;
		}
		.definition {
			display:none;
		}
		a {
			color:#5790a8;
		}
		a:hover {
			color:#a2645d;
		}
	</style>
</head>
<body>
	<h1>Flash Card App: Study Mode</h1>
	<a href="/">Back to Home</a>
	<p id="word"><strong>Word:</strong> <%= @flashcard.word %></p>
	<p id="difficulty"><strong>Difficulty:</strong> <%= @flashcard.difficulty %></p>
	<button id="show-def">Show Definiton</button>
	<button id="next">Next Word</button>
	<div class="definition">
		<p id="def"><strong>Definition:</strong> <%= @flashcard.definition %></p>
	</div>
	<%= yield %>
</body>
</html>