<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<style>
	body {margin: 5%; margin-right: 20%; font-family: sans-serif;}
	.definition {display:none;}
	</style>
</head>
<body>
	<h1>Flash Card Study App</h1>
	<p>Word: <%= @flashcard.word %></p>
	<p>Difficulty: <%= @flashcard.difficulty %></p>
	<button id="show-def">Show Definiton</button>
	<button id="next">Next Word</button>
	<div class="definition">
		<p>Definition: <%= @flashcard.definition %></p>
	</div>
	<script>
		$("#show-def").click(function() {
			$(".definition").toggle();
		})
	</script>
</body>
</html>